$pager-font-size: 100%;

.pager {
    font-size: $pager-font-size;
    text-align: center;

    &__item {
        display: inline-block;
        min-width: 2em;
        border: solid 0.5px;

        &:hover {
            background-color: var(--col-text-secondary-offset);
            color: var(--col-text-primary);
        }

        &.current {
        
            background-color: var(--col-bg-secondary);
        
            &:hover {
                background-color: none;
                color: var(--col-text-secondary);
            }   
        }
    }

    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        border-bottom: none;
    }
}