.sitehdr-branding {

    font-family: inherit;
    
    &__link, &__link:link, &__link:visited, &__link:hover, &__link:active {
        border-bottom: none;
        text-decoration: none;    
    }

    &__img {
        vertical-align: middle;
        margin-right: 0.5em;
    }
}