{%- macro authors(auths) -%}
    {%- for item in auths -%}
        {%- if loop.index != 1 -%}
            {%- if loop.index == loop.length -%}&nbsp;{{ctx.x('and')}}&nbsp;{%- else -%},&nbsp;{%- endif -%}
        {%- endif -%}
        {%- if item.url -%}
            <span class="p-author h-card vcard">
                <a class="u-url url" href="{{item.url}}"><span class="p-name fn">{{-item.name-}}</span></a>
                {%- if item.image -%}
                    <meta name="photo" content="{{item.image}}" />
                {%- endif -%}
            </span>
        {%- else -%}
            <span class="p-author h-card vcard">
                <span class="p-name fn">{{-item.name-}}</span>
                {%- if item.image -%}
                    <meta name="photo" content="{{item.image}}" />
                {%- endif -%}
            </span>
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro authorsSilent(auths) -%}
    {%- for item in auths -%}
        {%- if item.url -%}
            <span class="p-author h-card vcard">
                <meta name="u-url url" content="{{item.url}}" />
                <meta name="p-name fn" content="{{-item.name-}}" />
                {%- if item.image -%}
                    <meta name="photo" content="{{item.image}}" />
                {%- endif -%}
            </span>
        {%- else -%}
            <span class="p-author h-card vcard">
                <meta name="p-name fn" content="{{-item.name-}}" />
                {%- if item.image -%}
                    <meta name="photo" content="{{item.image}}" />
                {%- endif -%}
            </span>
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}