$article-wm-margin: 2em 0 1em 0;

$article-wm-item-font-size: 80%;
$article-wm-item-width: 100%;
$article-wm-item-margin: 0 0 1em 0;

$article-wm-item-meta-typeicon-width: 32px;
$article-wm-item-meta-typeicon-height: 32px;

$article-wm-item-meta-font-style: italic;

$article-wm-item-authorphoto-width: 48px;
$article-wm-item-authorphoto-height: 48px;

.article-webmentions {
    margin: $article-wm-margin;

    &__list {
        list-style: none;
    }
    
    
    &__item {
        width: $article-wm-item-width;
        font-size: $article-wm-item-font-size;
        margin: $article-wm-item-margin;
        display: flex;
        flex-direction: row;
    }

    &__authorphoto {
        padding-right: 1em;
    
        .u-photo {
            width: $article-wm-item-authorphoto-width;
            height: $article-wm-item-authorphoto-height;
        }
    
    }
    
    &__data {
        flex-grow: 1;
    
    }
    
    &__meta {
        font-style: $article-wm-item-meta-font-style;
        display: inline-block;
     
        .dt-published {
            color: var(--col-text-primary);
        }
    }
    
    &__content {
        display: inline-block;
    }
    
    &__typeicon {
        padding-left: 1em;
    }
    
    &__typeicon-img {
        width: $article-wm-item-meta-typeicon-width;
        height: $article-wm-item-meta-typeicon-height;
    }
    
}

