$article-icon-post-max-width: 200px !default;
$article-icon-post-max-height: 100px !default;
$article-icon-post-float: left !default;
$article-icon-post-margin: 0 0.5em 0 0 !default;

.article-icon {
    max-width: $article-icon-post-max-width;
    max-height: $article-icon-post-max-height;
    float: $article-icon-post-float;
    margin: $article-icon-post-margin;
}
