$article-citation-font-size: 90% !default;
$article-citation-margin: 0 0 2em 0 !default;
$article-citation-header-margin: 2em 0 1em 0 !default;

.article-citation {
    margin: $article-citation-margin;

    h6 {
        margin: $article-citation-header-margin;
    }

    ul {
        font-size: $article-citation-font-size;
    }
}
