$article-prod-font-size: 75% !default;
$article-prod-margin: 1em 0 1em 0 !default;
$article-prod-padding: 0.1em 0.5em 0.1em 0.5em !default;
$article-prod-border-style: solid !default;
$article-prod-border-width: 1px !default;
$article-prod-line-height: 1.75em !default;

$article-prod-dt-width: 25% !default;
$article-prod-dt-text-align: right !default;
$article-prod-dt-padding: 0 1em 0 0 !default;
$article-prod-dt-font-weight: 500 !default;

$article-prod-dd-margin-left: 26% !default;

// From theme.
$article-prod-bg-col: var(--col-bg-secondary) !default;

.article-product {
    
    font-size: $article-prod-font-size;
    margin: $article-prod-margin;
    border-style: $article-prod-border-style;
    border-width: $article-prod-border-width;
    border-radius: 1em; 
    padding: $article-prod-padding;
    line-height: $article-prod-line-height;
    background-color: $article-prod-bg-col;

    dl {
        dt {
            width: $article-prod-dt-width;
            float: left;
            clear: left;
            text-align: $article-prod-dt-text-align;
            padding: $article-prod-dt-padding;
            font-weight: $article-prod-dt-font-weight;
        }
        dd {
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;    
            margin-left: $article-prod-dd-margin-left;

            .stars { 
                img {
                    max-height: 1em;
                }
            }
        }
    }

    // Rating strings.
    .rating-string {
        font-weight: 400
    }

    // Offer segments.
    ul.ops {
        margin-top: 0;
        padding-left: 0;
    }
}
