$article-summary-border-width: 0.5px !default;
$article-summary-border-style: solid !default;
$article-summary-margin: 1em 0.5em 0.5em 0.5em !default;
$article-summary-padding: 0 0.5em 0 0.5em !default;
$article-summary-font-size: 85% !default;

$article-summary-image-float: right !default;
$article-summary-image-margin: 1em 0 0 0.25em !default;
$article-summary-image-max-width: 200px !default;
$article-summary-image-max-height: 100px !default;

// From the theme.
$article-summary-bg-col: var(--col-bg-secondary) !default;

.article-summary {
    border-width: $article-summary-border-width;
    border-style: $article-summary-border-style;
    border-radius: 1em;
    margin: $article-summary-margin;
    padding: $article-summary-padding;
    font-size: $article-summary-font-size;
    background-color: $article-summary-bg-col;

    img {
        float: $article-summary-image-float;
        margin: $article-summary-image-margin;
        max-width: $article-summary-image-max-width;
        max-height: $article-summary-image-max-height;
    }
}
