$article-relatedposts-font-size: 90% !default;
$article-relatedposts-margin: 0 0 2em 0 !default;
$article-relatedposts-header-margin: 2em 0 1em 0 !default;

.article-related-posts {
    margin: $article-relatedposts-margin;
    
    h6 {
        margin: $article-relatedposts-header-margin;
    }
    ul {
        font-size: $article-relatedposts-font-size;
    }
}
