{% import 'macros/meta.njk' as meta %}
<div class="meta">
    {% if post.author %}
        {{meta.authors(post.authorObjs)}}<span class="dot"></span>
    {% endif %}
    <time class="dt-published" datetime="{{post.dates.published.iso}}">{{post.dates.published.dispDt}}</time>
    <meta name="dt-modified" content="{{post.dates.modified.iso}}" />
    {% if post.tags %}
        <span class="dot"></span><span class="taxlinks">{{post.getTaxonomies(null, true, false)}}</span>
    {% endif %}
    {% if post.wantEffort %}
        {% if post.words and post.words > 0 %}
            <span class="dot"></span><span class="effort">{{post.words}} words.</span>
        {% endif %}
    {% endif %}
</div>