<!doctype html>
<html lang="{{ cfg.site.lang }}">
<head>
    {%- block headMetaBasics -%}
        <!-- Meta setup -->
        <meta charset="utf-8" />
        <!-- Always force latest IE rendering engine (even in intranet) -->
        <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="cleartype" content="on" /><![endif]-->
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
    {%- endblock -%}

    {%- block headMetaArticle -%}
        {%- if article.isHomePage -%}
            <title>{{cfg.site.title}}</title>
            {%- if cfg.site.description -%}
                <meta name="description" content="{{cfg.site.description}}" />
            {%- endif -%}
            {%- if cfg.site.keywords -%}
                <meta name="keywords" content="{{cfg.site.keywords}}" />
            {%- endif -%}
        {%- else -%}
            <title>{{article.headline}}</title>
            {%- if article.metaDescription -%}
                <meta name="description" content="{{article.metaDescription}}" />
            {%- elif article.description -%}
                <meta name="description" content="{{article.description}}" />
            {%- endif -%}
            {%- if article.keywords -%}
                <meta name="keywords" content="{{article.keywords}}" />
            {%- else -%}
                {%- set kw = ctx.taxonomyNames(article) -%}
                {%- if kw != '' -%}
                    <meta name="keywords" content="{{kw}}" />
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
    {%- endblock %}

    {%- block headFavIcons %}
    {%- endblock %}

    {%- block headFeeds %}
        <!-- Feeds -->
        <link rel="alternate" type="application/rss+xml" title="{{cfg.site.title}} - Standard Feed" 
            href="{{ctx.qualify('/feed.xml')}}" />        
        <link rel="alternate" type="application/rss+xml" title="{{cfg.site.title}} - Full Feed" 
            href="{{ctx.qualify('/feedfull.xml')}}" />        
    {%- endblock %}

    <!-- Canonical URL. -->
    <link rel="canonical" href="{{ctx.qualify(article.url)}}" />

    {%- if (cfg.site.lazyload) %}
    <!-- Lazy load. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" async=""></script>    
    {%- endif %}
        
    <!-- Theme switcher. -->
    {% block themeSwitcher %}
        {%- include 'includes/_themes.njk' -%}
    {% endblock %}

    {%- block headGoogleFonts -%}
    {%- endblock -%}

    {%- block headStyleSheets %}
        <!-- Stylesheets. --> 
        <link rel="stylesheet" href="{{ctx.asset('/assets/scss/main.css')}}" />
    {%- endblock -%}

    {%- block headRobots %}
        {%- if article.robots %}
            <!-- Robots. -->
            <meta name="robots" content="{{ article.robots }}" />
            <meta name="googlebot" content="{{ article.robots }}" />
        {%- else %}
            <!-- Robots. -->
            <meta name="robots" content="index, follow, NOODP" />
            <meta name="googlebot" content="index, follow, NOODP" />
        {%- endif -%}
    {%- endblock %}

    {% block indieAuth -%}
        {%- if cfg.site.indieAuth -%}
            <!-- Indieauth -->
            <link rel="me" href="{{cfg.site.indieAuth}}" />
        {%- endif -%}
    {% endblock %}

    {% block webMentions -%}
        {%- if cfg.site.webMentions and cfg.webmentionsSpec.id -%}
            <!-- Webmentions -->
            <link rel="webmention" href="https://webmention.io/{{cfg.webmentionsSpec.id}}/webmention" />
            <link rel="pingback" href="https://webmention.io/{{cfg.webmentionsSpec.id}}/xmlrpc" />
        {%- endif -%}
    {% endblock %}

    {% block maths %}
        {%- if article.maths -%}
            <!-- Maths. -->
            <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath:[['$','$']]}});</script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=default' async></script>
        {%- endif -%}    
    {% endblock %}
    
    {%- block headOg %}
        <!-- Opengraph -->
        {%- set isArticle = false %}
        {% if article.ogType %}
            <meta property="og:type" content="{{article.ogType}}" />
        {% elif article.layout == 'home' %}
            <meta property="og:type" content="website" />
        {% else %}
            <meta property="og:type" content="article" />
            {%- set isArticle = true -%}
        {% endif %}
            <meta property="og:title" content="{{ article.title }}" />
            {%- if article.description %}
                <meta property="og:description" content="{{ article.description }}" />
            {%- endif -%}
            <meta property="og:url" content="{{ctx.qualify(article.url)}}" />
            <meta property="og:site_name" content="{{cfg.site.title}}" />
        {%- if article.imageFuncs.og %}
            <meta property="og:image" content="{{ctx.asset(article.imageFuncs.og, true)}}" />
        {% endif %}
        {%- if isArticle %}
            <meta property="article:published_time" content="{{ article.dates.published.iso }}" />
            <meta property="article:modified_time" content="{{ article.dates.modified.iso }}" />
            {%- if article.tags %}
                {%- set tags = ctx.taxonomyNamesArray(article, 'tags') -%}
                {%- for t in tags %}
                    <meta property="article:tag" content="{{ t }}" />
                {%- endfor -%}
            {% endif %}
        {% endif %}
    {%- endblock %}

    {%- block headTwitter %}
        <!-- Twitter. -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ article.title }}" />
        {%- if article.description -%}
            <meta name="twitter:description" content="{{ article.description }}" />
        {%- endif -%}
        <meta name="twitter:url" content="{{ ctx.qualify(article.url) }}" />
        {%- if article.imageFuncs.twitter %}
            <meta name="twitter:image" content="{{ctx.asset(article.imageFuncs.twitter, true)}}" />
        {% endif %}
    {%- endblock %}

    {% block headGoogleAnalytics -%}
        {% if cfg.site.googleAnalytics and ctx.mode != 'dev' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{cfg.site.googleAnalytics}}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){%raw%}{{%endraw%}dataLayer.push(arguments);{%raw%}}{%endraw%}
                gtag('js', new Date());            
                gtag('config', '{{cfg.site.googleAnalytics}}');
            </script>
        {% endif %}
    {%- endblock %}

</head>
<body class="{{ bodyclass }}">
    <div class="wrapper">
        <header class="header">
            {%- include 'includes/_siteHeader.njk' -%}
        </header>
        <main>
            {%- block main -%}{%- endblock -%}
        </main>
        <footer>
            {%- include 'includes/_siteFooter.njk' -%}
        </footer>
    </div>
</body>
{%- block schema -%}
    {%- if article.schema -%}
    <script type="application/ld+json">
        {{article.schema}}
    </script>
    {%- endif -%}
{%- endblock -%}
</html>