<!--@
sitemap: true
@-->
{% set bodyclass = 'home' %}
{% extends 'includes/_base.njk' %}
{%- block main -%}
{%- if article.page and article.page != 1 -%}
    {%- if article.breadcrumbs -%}
        <div class="breadcrumbs">{{article.bcStr}}</div>
    {%- endif -%}
{%- endif -%}
<section class="collection">
    {% set rmimg = ctx.img({src: '/assets/images/read-more.png', alt: 'Read more icon.'}) %}
    {%- set page = 1 -%}
    {%- if article.page -%}{%- set page = article.page -%}{%- endif -%}

    {%- for post in article.posts.page(page) -%}

        {%- set ac = 'h-entry' -%}
        {%- if post._layout == 'briefly' -%}
            {%- set ac = ac + ' briefly' -%}
        {%- endif -%}
        <article class="{{ac}} article--home">
            <header>
                <h2>
                    {%- if post._layoutName == 'citation' -%}
                        {{post.firstCitationLink()}}
                        <meta name="p-name" content="{{post.name}}" />
                        <meta name="u-url" content="{{post.url}}" />
                    {%- elif post._layoutName == 'briefly' -%}
                        <span class="briefly p-name">Briefly: {{post.name}}</span>
                        <meta name="u-url" content="{{post.url}}" />
                    {%- else -%}
                        <a class="u-url" href="{{post.url}}" title="Read this post.">
                            <span class="p-name">{{post.name}}</span>
                        </a>
                    {%- endif -%}
                </h2>
                {%- if post._layoutName == "citation" -%}
                    <p class="article-meta">Comments by me and a link to the external article (above).</p>
                {%- endif -%}
                {% include 'includes/article/_articleMeta.njk' %}
            </header>
            {%- if post.reviews and site.reviews -%}
                {%- set rev = post.firstReview() -%}
                {%- if rev._ratingStars and not post._noGlobalStars -%}
                    <div class="article-review-stars article-review-stars--small" title="Review rating.">{{rev._ratingStars}}</div>
                {%- endif -%}
            {%- endif -%}
            {%- if post._layoutName == 'citation' or post._layoutName == 'briefly' -%}
                <div class="e-content">
                    {% if post.imageFuncs and post.imageFuncs.icon %}
                        <a href="{{post.url}}" title="Read this post.">
                            {{ctx.img({src: post.imageFuncs.icon, alt: 'Icon for this post.', class: 'icon'})}}
                        </a>
                    {% endif %}
                    {{post.content.html}}
                </div>
            {%- else -%}
                <div class="p-summary">
                    {% if post.imageFuncs and post.imageFuncs.icon %}
                        <a href="{{post.url}}" title="Read this post.">
                            {{ctx.img({src: post.imageFuncs.icon, alt: 'Icon for this post.', class: 'article-icon'})}}
                        </a>
                    {% endif %}
                    {% if post.abstract %}
                        {{post.abstract.html}}
                    {% else %}
                        {{post.abstract.text | truncate(300)}}
                    {% endif %}
                    {{ctx.link(rmimg, post.url, 'Read this post in full.', 'readmore')}}
                </div>
            {%- endif -%}
            {%- if post._layoutName == "citation" and post.citation -%}
                <aside class="article-citation">
                    <h6>Citations</h6>
                    <ul>
                        {%- for cite in post.citationList -%}
                            <li>{{cite.txt}}</li>
                        {%- endfor -%}
                    </ul>
                </aside>
            {%- endif -%}    
            <footer>
                {%- if ctx.hasPlugin('socialShares') -%}
                    <div class="sharelinks">
                        {{ctx.plugins.socialShares.getSocialShareLinks(ctx, post)}}
                    </div>
                {%- endif -%}
            </footer>
        </article>

    {%- endfor -%}
</section>
{%- if article.posts and article.posts.totalPages > 1 -%}
    <nav class="pager">
        {%- for i in range(1, article.posts.totalPages + 1) -%}
            {%- if i == page -%}
                <span class="pager__item current">{{i}}</span>
            {%- else -%}
                    {%- if i == 1 -%}
                        <a href="/" title="Go to page {{i}}."><span class="pager__item">{{i}}</span></a>
                    {%- else -%}
                        <a href="/{{i}}/" title="Go to page {{i}}."><span class="pager__item">{{i}}</span></a>
                    {%- endif -%}
                </span>
            {%- endif -%}
        {%- endfor -%}
        <br /><br />
        <div><a href="/archive/" title="See the archive.">Full archive on one page.</a></div>
    </nav>
{%- endif -%}
{%- endblock -%}