<!--@
late: true
sitemap: true
@-->
{% set bodyclass = 'taxonomy' %}
{% extends 'includes/_base.njk' %}
{% block main %}
<div class="h-entry">
    {%- if article.breadcrumbs -%}
        <div class="breadcrumbs">{{article.bcStr}}</div>
    {%- endif -%}
    <h1 class="p-name">{{article.name}}</h1>
    {%- set post = article -%}{%- include 'includes/_articleMetaSilent.njk' -%}
    <section class="e-content">
        {{article.description}}
    <section>
    <section class="collection">
        <ul>
            {% for item in ctx.getTaxonomy(article.taxonomyType, article.taxonomy).sortArticlesByDate().getArticles() %}
                <li>
                    <article class="h-entry article">
                        <header>
                            <h2>
                                <a class="u-url" href="{{item.url}}" title="Read this post.">
                                    <span class="p-name">{{item.name}}</span>
                                </a>
                            </h2>
                            {%- set post = item -%}{% include 'includes/_articleMeta.njk' %}
                        </header>
                        {%- if site.reviews and item.reviews -%}
                            {%- set rev = item.firstReview() -%}
                            {%- if rev._ratingStars and not item._noGlobalStars -%}
                                <div class="article__review-stars article__review-stars--small" title="Review rating.">{{rev._ratingStars}}</div>
                            {%- endif -%}
                        {%- endif -%}
                        <div class="p-summary">
                            {% if item.description %}
                                {{item.description}}
                            {% else %}
                                {{item.content.text | truncate(200)}}
                            {% endif %}
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}