// ==============================================================
// Typography allocations.
// ==============================================================

// -----------------
// Body.
// -----------------

body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    font-weight: $font-weight;
    line-height: $line-height; 
}

// -----------------
// Headings.
// -----------------

h1, .h1 {
    font-size: $font-size-h1;
}

h2, .h2 {
    font-size: $font-size-h2;
}

h3, .h3 {
    font-size: $font-size-h3;
}

h4, .h4 {
    font-size: $font-size-h4;
}

h5, .h5 {
    font-size: $font-size-h5;
}

h6, .h6 {
    font-size: $font-size-h6;
    font-variant: $font-variant-h6;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $font-family-secondary;
    line-height: $line-height-heading;
}

// -----------------
// Links.
// -----------------

a, a:link, a:visited, a:hover, a:active {
    text-decoration: $link-text-decoration;
    border-bottom: $link-border-bottom;
}

a:hover {
    border-bottom: $link-border-bottom-hover;
}

a.plain {
    border-bottom: none;
    text-decoration: none;
}
